{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>艺安居天然硅藻泥</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'main/img/logo.png' %}" rel="icon">
  <!-- Google Fonts -->
  <link href="https://at.alicdn.com/t/font_568755_0xr3q66g3yhc9pb9.css" rel="stylesheet">
  <!-- Bootstrap CSS File -->
  <link href="{% static 'main/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'main/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'main/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'main/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'main/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'main/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
  <!-- Main Stylesheet File -->
  <link href="{% static 'main/css/style.css' %}" rel="stylesheet">
  </head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="#intro"><img id="logo1" src="{% static 'main/img/logo1.png' %}" alt="" title="" /></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="index">首页</a></li>
          <li><a href="about">关于我们</a>
          	<ul>
              <li><a href="about">艺安居概况</a></li>
              <li><a href="about1">企业文化</a></li>
              <li><a href="about2">领导致辞</a></li>
              <li><a href="about3">荣誉资质</a></li>
              <li><a href="about4">核心优势</a></li>
            </ul>
          </li>
          <li class="menu-has-children"><a href="news">新闻中心</a><ul>
              <li><a href="news1">企业动态</a></li>
              <li><a href="news2">行业新闻</a></li>
              <li><a href="news3">品牌动态</a></li>
            </ul>
          </li>
          <li class="menu-has-children"><a href="anliall">案例欣赏</a>
          	<ul>
              <li><a href="oushi">欧式风格</a></li>
              <li><a href="katong">卡通风格</a></li>
              <li><a href="zhongshi">中式风格</a></li>
              <li><a href="xiandai">现代风格</a></li>
              <li><a href="jianyue">简约风格</a></li>
            </ul>
          </li>
          <li class="menu-active"><a href="VR">VR欣赏</a></li>
          <li><a href="jiameng">加盟合作</a></li>
          <li><a href="cont">联系我们</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
<!-- #intro -->

  <main id="main">

    <!--==========================
      Featured Services Section
    ============================--><!-- #featured-services -->
    <div id="zhiding"></div>
    <!--==========================
      About Us Section
    ============================-->
    <section id="portfolio"  class="section-bg" >
      <div class="container" id="VR">

        <header class="section-header">
          <h3 class="section-title">北欧风格</h3>
        </header>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-os wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <a href="http://720yun.com/t/76cjzzukzk1" class="imgg-box"><img  src="{% static 'main/img/portfolio/os1.png' %}" class="img-fluid imgg" alt="" style="height: 100%;"></a>
              </figure>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-kt wow fadeInUp" >
            <div class="portfolio-wrap">
              <figure>
                <a href="http://720yun.com/t/f30jzzukzm5" class="imgg-box"><img src="{% static 'main/img/portfolio/kt1.png' %}" class="img-fluid imgg" alt=""></a>
              </figure>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-xd wow fadeInUp" >
            <div class="portfolio-wrap">
              <figure>
                <a href="http://720yun.com/t/180jzzukzO3" class="imgg-box"><img src="{% static 'main/img/portfolio/xd1.jpg' %}" class="img-fluid imgg" alt=""></a>
              </figure>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-jy wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <a href="http://720yun.com/t/8cbjzzuk5k4" class="imgg-box"><img src="{% static 'main/img/portfolio/jy1.png' %}" class="img-fluid imgg" alt=""></a>
              </figure>
            </div>
          </div>
      

          <div class="col-lg-4 col-md-6 portfolio-item filter-zs wow fadeInUp" >
            <div class="portfolio-wrap">
              <figure>
                <a href="http://720yun.com/t/d4djzzuk5y3" class="imgg-box"><img src="{% static 'main/img/portfolio/zs1.png' %}" class="img-fluid imgg" alt=""></a>
              </figure>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-zs wow fadeInUp" >
            <div class="portfolio-wrap">
              <figure>
                <a href="http://720yun.com/t/b31jzzuktv0" class="imgg-box"><img src="{% static 'main/img/portfolio/zs1.png' %}" class="img-fluid imgg" alt=""></a>
              </figure>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-zs wow fadeInUp" >
            <div class="portfolio-wrap">
              <figure>
                <a href="http://720yun.com/t/9e6jzzukty4" class="imgg-box"><img src="{% static 'main/img/portfolio/zs1.png' %}" class="img-fluid imgg" alt=""></a>
              </figure>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-zs wow fadeInUp" >
            <div class="portfolio-wrap">
              <figure>
                <a href="http://720yun.com/t/9bejzzuktw1" class="imgg-box"><img src="{% static 'main/img/portfolio/zs1.png' %}" class="img-fluid imgg" alt=""></a>
              </figure>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-zs wow fadeInUp" >
            <div class="portfolio-wrap">
              <figure>
                <a href="http://720yun.com/t/2ebjzzukev3" class="imgg-box"><img src="{% static 'main/img/portfolio/zs1.png' %}" class="img-fluid imgg" alt=""></a>
              </figure>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-zs wow fadeInUp" >
            <div class="portfolio-wrap">
              <figure>
                <a href="http://720yun.com/t/b7ajzzuken8" class="imgg-box"><img src="{% static 'main/img/portfolio/zs1.png' %}" class="img-fluid imgg" alt=""></a>
              </figure>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-zs wow fadeInUp" >
            <div class="portfolio-wrap">
              <figure>
                <a href="http://720yun.com/t/99ajzzukva1" class="imgg-box"><img src="{% static 'main/img/portfolio/zs1.png' %}" class="img-fluid imgg" alt=""></a>
              </figure>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-zs wow fadeInUp" >
            <div class="portfolio-wrap">
              <figure>
                <a href="http://720yun.com/t/f08jzzukvn8" class="imgg-box"><img src="{% static 'main/img/portfolio/zs1.png' %}" class="img-fluid imgg" alt=""></a>
              </figure>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-zs wow fadeInUp" >
            <div class="portfolio-wrap">
              <figure>
                <a href="http://720yun.com/t/74djzzukun0" class="imgg-box"><img src="{% static 'main/img/portfolio/zs1.png' %}" class="img-fluid imgg" alt=""></a>
              </figure>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-zs wow fadeInUp" >
            <div class="portfolio-wrap">
              <figure>
                <a href="http://720yun.com/t/165jzzukra8" class="imgg-box"><img src="{% static 'main/img/portfolio/zs1.png' %}" class="img-fluid imgg" alt=""></a>
              </figure>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-zs wow fadeInUp" >
            <div class="portfolio-wrap">
              <figure>
                <a href="http://720yun.com/t/9cajzzufOm1" class="imgg-box"><img src="{% static 'main/img/portfolio/zs1.png' %}" class="img-fluid imgg" alt=""></a>
              </figure>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-zs wow fadeInUp" >
            <div class="portfolio-wrap">
              <figure>
                <a href="http://720yun.com/t/a21jzzufsa3" class="imgg-box"><img src="{% static 'main/img/portfolio/zs1.png' %}" class="img-fluid imgg" alt=""></a>
              </figure>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-zs wow fadeInUp" >
            <div class="portfolio-wrap">
              <figure>
                <a href="http://720yun.com/t/458jzzufsy9" class="imgg-box"><img src="{% static 'main/img/portfolio/zs1.png' %}" class="img-fluid imgg" alt=""></a>
              </figure>
            </div>
          </div>
          
        </div>

      </div>
    </section>  



    <section id="featured-services">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 box text-center">
            <i class="iconfont icon-bulbideapeople"></i>
            <h4 class="title"><a >企业经营理念</a></h4>
            <p class="description">&nbsp&nbsp&nbsp&nbsp诚信&nbsp&nbsp专业&nbsp&nbsp创新&nbsp&nbsp真诚</p>
          </div>

          <div class="col-lg-4 box  text-center">
            <i class="iconfont icon-zhanlve"></i>
            <h4 class="title"><a >企业品牌战略</a></h4>
            <p class="description">&nbsp&nbsp&nbsp&nbsp打造硅藻泥行业第一品牌</p>
          </div>

          <div class="col-lg-4 box text-center">
            <i class="iconfont icon-xin"></i>
            <h4 class="title"><a >企业核心价值观</a></h4>
            <p class="description">&nbsp&nbsp&nbsp&nbsp共创&nbsp公赢&nbsp共享</p>
          </div>

        </div>
      </div>
    </section>
        <!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <!--======================================================--><!-- #services -->

    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeIn">
      <div class="container text-center">
        <h3>加盟我们</h3>
        <p>以产品品质为承诺，高效的管理体系， 面相全国诚邀加盟，加盟范围细化至县级。</p>
        <a class="cta-btn" href="jiameng">马上行动</a>
      </div>
    </section><!-- #call-to-action -->

    <!--==========================
      Skills Section
    ============================-->
    <!--========================== ============================--><!-- #facts -->

    <!--==========================
      Portfolio Section
    ============================-->
    <!-- #portfolio -->

    <!--==========================
      Clients Section
    ============================-->
    <!-- #clients -->

    <!--==========================
      Clients Section
    ============================-->
    <!--======================================================--><!-- #team -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>联系我们</h3>
          <p>您的信息</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>地址</h3>
              <address>深圳市宝安区沙井街道步涌同富裕工业园区A2区C8栋</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>电话</h3>
              <p><a href="tel:+155895548855">400-8858-137</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>邮箱</h3>
              <p><a href="mailto:info@example.com">xxxxxxxxxxxxxx@qq.com</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <div id="sendmessage">您的信息已发送，谢谢！</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="您的姓名" data-rule="minlen:2" data-msg="请至少输入两个字符" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="您的电子邮箱" data-rule="email" data-msg="邮箱格式不正确或其他" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="您的标题" data-rule="minlen:1" data-msg="请至少输入一个字符" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="请写点什么..." placeholder="您的内容"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">发送信息</button></div>
          </form>
        </div>

      </div>
    </section>
    <!-- #contact -->

  </main>

  <!--==========================
  ============================-->
 
  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <a href="#intro"><img src="{% static 'main/img/logo1.png' %}" alt="" title="" /></a>
            <p></p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>常用链接</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="index">首页</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="about">关于我们</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="news">新闻中心</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="anliall">案例欣赏</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="jiameng">案例欣赏</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="cont">联系我们</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>联系我们</h4>
            <p>
             地址:深圳市宝安区沙井街道步涌同富裕工业园区A2区C8栋<br>
              <strong>电话:</strong> 400-8858-137 <br>
              <strong>邮箱:</strong> 302930114@qq.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="qq"><i class="iconfont icon-qq"></i></a>
              <a href="#" class="weixin"><i class="iconfont icon-weixin"></i></a>
              <a href="#" class="weibo"><i class="iconfont icon-weibo"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>xxxxxxxxxxxxxxxxxx</h4>
            <p>xxxxxxxxxxxxxxxxxxxxxx</p>
            <!--============<form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Subscribe">
            </form>=========-->
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>艺安居硅藻泥</strong>
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
        -->
        Best <a href=""></a> by xuuuui
      </div>
    </div>
  </footer><!-- #footer -->
  <div id="right_baner">
      <ul>
          <li class="weixin">
             <span><img class="weixinpg" src="{% static 'main/img/weixin.png' %}"></span>
             <img class="ma" src="{% static 'main/img/ma.png' %}">
          </li>
          <li class="qq">
               <span href="" ><img class="qqpg" src="{% static 'main/img/qq.png' %}"></span>
               <div class="qqmub" ><a href="http://sighttp.qq.com/msgrd?v=1&uin=302930114"  target="_blank" style="color:#18d26e;">302930114</a></div>
          </li>
          <li class="dianhua">
             <span><img class="mubpg" src="{% static 'main/img/tel.png' %}"></span>
             <div class="mub" ><a href="tel:400-8858-137">400-8858-137</a></div>
          </li>
      </ul>
  </div>


  <!-- JavaScript Libraries -->
  <script src="{% static 'main/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'main/lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'main/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'main/lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'main/lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'main/lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'main/lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'main/lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'main/lib/lightbox/js/lightbox.min.js' %}"></script>
  <script src="{% static 'main/lib/touchSwipe/jquery.touchSwipe.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'main/contactform/contactform.js' %}"></script>
  <!-- Template Main Javascript File -->
  <script src="{% static 'main/js/main.js' %}"></script>

</body>
</html>
